body{
    background-color: rgb(168, 214, 243);
    
}

#navbar{
    background-color: black;

}

.navbar-nav{
    margin-left: 500px;
    font-size: 15px;
}

.nav-item .nav-link {
    color:rgb(124, 132, 146);
    font-weight:bold;
    transition: 0.5s ease;

}
.nav-item .nav-link:hover{
    color:blueviolet;
    text-shadow: .5px .5px black;
}
.navbar-brand{
    color: aliceblue;
}

.p{
    animation-name: slidein;
}
